header {
    height: 80px;
    border-width: 5px;
    border-color: rgb(144, 232, 238);
    border-style: groove;
    background-color:lightseagreen;
   font-weight:bolder;
}
h1 {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
nav {
    background-color: darkslategray;
    padding: .7rem;
}
li {
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(6, 6, 17);
}
ul {
    text-align: center;
    padding: 0;
}


article {
    width: 100%;
    background-color: rgb(29, 29, 49);
    text-align: center;
    color: floralwhite;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
}
footer {
    background-color: darkslategrey;
    padding: .5rem 1rem;
    text-align: center;
    clear: both;
     
}

img {
    
    width: 10%;
    height: auto;
    margin-bottom: 1rem;
}

