header {
    height: 80px;
    border-width: 5px;
    border-color: rgb(144, 232, 238);
    border-style: groove;
    background-color:lightseagreen;
   font-weight:bolder;
   padding-top: 1.5rem;
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   font-size: 28px;
}
h1 {
    text-align: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
nav {
    background-color: darkslategray;
    padding: .7rem;
}
li {
    display: inline-block;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(6, 6, 17);
}
ul {
    text-align: center;
    padding: 0;
}


article {
    width: 800px;
    background-color: rgb(29, 29, 49);
    /* text-align: center; */
    
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
}
footer {
    background-color: darkslategrey;
    padding: .5rem 1rem;
    text-align: center;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     
}

img {
    float: right;
    width: 30%;
    height: auto;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.article-paragraph {
    float: left;
    width: 60%;
    padding: auto;
    margin-top: 5.5rem;
}

.article-title {
    text-align: center;
    color: floralwhite;
}



